page-home {

  ion-datetime {
    position: relative;
  }
  input[type=text] {
    width: 60%;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  .alarm-button[item-end] {
    align-items: center;
    padding: 6px;
    margin: 2px;
    .datetime-text {
      font-size: .7em;
    }
  }

}
